<div class="container-fluid ">
    <div class="row">
     <div class="col-12 d-flex justify-content-center">
        <form>
            <h3>Registration</h3>
            <div>
                 <input type="text"  class="form-control" [(ngModel)]="employerObj.CompanyName" name="CompanyName"/>
                <label class="form-label"> Company Name</label>
                
                <div class="col-12 d-flex mb-3">
                  <input type="email"  class="form-control" [(ngModel)]="employerObj.EmailId" name="EmailId"/>
                  <label class="form-label" >Email</label>
                  <input type="text"  class="form-control" [(ngModel)]="employerObj.MobileNo" name="MobileNo" />
                  <label class="form-label">Mobile</label>
                  <input type="text" class="form-control" [(ngModel)]="employerObj.PhoneNo" name="PhoneNo"/>
                  <label class="form-label">Phone</label>
                </div>

                <div class="col-12 d-flex mb-3">
                    <input type="text" class="form-control" [(ngModel)]="employerObj.LogoUrl" name="LogoUrl"/>
                    <label class="form-label">Company Logo Url</label>
                    <input type="text" class="form-control" [(ngModel)]="employerObj.GstNo" name="GstNo"/>
                    <label class="form-label">Gst No</label>
                </div>

                <div class="col-12 d-flex mb-3">
                    <input type="text" class="form-control" [(ngModel)]="employerObj.City" name="City"/>
                    <label class="form-label">City</label>
                    <input type="text" class="form-control" [(ngModel)]="employerObj.State" name="State"/>
                   <label class="form-label">State</label>
                   <input type="text" class="form-control" [(ngModel)]="employerObj.PinCode" name="PinCode"/>
                   <label class="form-label">Pin-code</label>
                </div>

                
                <input type="text" class="form-control" [(ngModel)]="employerObj" name=""/>
                <label class="form-label" >Address</label>
            </div>
          <button type="submit" class="btn btn-success btn-lg mb-1" (click)="register()">Register</button>
        </form>

     </div>
    </div>
</div>=